

@media screen and (max-width:975px){
    
    .wrap{
    
    -webkit-box-orient: vertical;
    
    -webkit-box-direction: normal;
    
        -ms-flex-direction: column;
    
            flex-direction: column;
    }
    #main_photo{
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        padding-top: 10px;
    }
}
@media screen and (max-width:600px){
.wrap{
    padding:0;
}
#header__logo{
    display: none;
}
#header{
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}
#header__navigation{
    padding-right: 0;
}
} 
@media screen and (max-width:450px){
    #modal_projects{
margin: 15% 10px 0 10px;
    }


}
@media screen and (max-width:390px){
    #main_photo{
        width:100%;
    }
    .right_container>a{
        font-size: 14px;
    }
    #filmoogle:hover{
        
        -webkit-transform: scale(1.5);
        
            -ms-transform: scale(1.5);
        
                transform: scale(1.5);
    
    }
  
}

